@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Zen Fixes */
html,
body {
  max-width: 100vw;
  overflow-x: hidden; /* Εμποδίζει το οριζόντιο σκρολάρισμα */
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  --sb-track-color: #fcf2f0;
  --sb-thumb-color: #183f80;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Δίνουμε προτεραιότητα στο Popup του Calendly έναντι των πάντων */
.calendly-overlay {
  z-index: 99999 !important;
}
